# LINKIE BACKEND - ENVIRONMENT VARIABLES TEMPLATE
# Copy file này thành .env và điền các giá trị thực tế.
# Lưu ý: KHÔNG ĐƯỢC PUSH FILE .env LÊN GITHUB.

# --- DATABASE CONFIG ---
# ConnectionStrings__DefaultConnection="Host=localhost;Database=linkie;Username=postgres;Password=..."

# --- AI CONFIG (Dùng dấu gạch dưới kép __ cho các cấp độ con) ---
Groq__ApiKey=


# --- OTHER CONFIG ---
JwtSettings__SecretKey=
Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=
DATA_ENCRYPTION_KEY=
